<div class="post-meta">
<h4>Post Info</h4>
  <ul>
     <li class="user"><%- config.author %></li>
     <li class="time"><%= item.date.format("h:mma") %></li>
     <% if (item.comment && config.disqus_shortname){ %>
      <li class="comment"><a href="<%- item.permalink %>#disqus_thread" class="comment-link">Comments</a></li>
     <% } %>
     <li class="permalink"><a href="<%- config.root %><%- item.path %>">Permalink</a></li>
  </ul>
</div>
<%- partial('post/tag') %>

