<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
}
%>
<h2><%= title %></h2>

<%- partial('pagination') %>
<ul class="archive">
  <% page.posts.each(function(item){ %>
  <li>
    <div class="post-title">
      <a href="<%- config.root %><%- item.path %>" target="_blank"><%= item.title %></a>
    </div>
    <div class="post-details">
      Posted on <a href="<%- config.root %><%- item.path %>"><%= item.date.format(config.date_format) %></a>
    </div>
  </li>
  <% }); %>
</ul>

