<!-- Post -->
<article class="post">
  <div class="primary">
    <h2>
      <%- partial('post/title') %>
    </h2>
    <p class="post-info"><span>Filed Under</span> <%- partial('post/category') %></p>
    <p><%- partial('post/share') %></p>
    <% if (item.photos){ %>
      <%- partial('post/gallery') %>
    <% } %>

  <% if (item.excerpt && index){ %>
    <%- item.excerpt %>
  <% } else { %>
    <%- item.content %>
  <% } %>
  <% if (index){ %>
    <% if (item.excerpt){ %>
      <a class="more" href="<%- config.root %><%- item.path %>#more"><%= theme.excerpt_link %></a>
     <% } %>
  <% } %>

  </div>
  <aside>
    <p class="dateinfo"><%= item.date.format('MMM') %><span><%= item.date.format('D') %></span></p>
    <%- partial('post/share_vertical') %>
    </aside>
</article>
<%- partial('comment') %>
